<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-title>
      Ionic Aemet Open Data Demo
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-item lines="none">
    <h2>Example of APP that allows to obtain climatological values of the Spanish stations in a range of specific dates.</h2>
  </ion-item>

  <ion-grid fixed>
    <ion-row class="ion-align-items-stretch">
      <ion-col size-lg="8" offset-lg="2" size-md="10" offset-md="1">
        <ion-card>
          <ion-img src="https://www.miteco.gob.es/es/cartografia-y-sig/ide/descargas/aemet-descargas_tcm30-176795.jpg"></ion-img>
          <ion-card-header>
            <ion-card-subtitle>Complete the following data to get values</ion-card-subtitle>
            <ion-card-title>Open Data AEMET</ion-card-title>
          </ion-card-header>
          <ion-card-content>
            <ion-item>
              <ion-label>Province</ion-label>
              <ion-select interface="popover" placeholder="Select a province" (ionChange)="onProvinceChange($event)">
                <ion-select-option *ngFor="let province of provinces" [value]="province.value">{{province.nm}}</ion-select-option>
              </ion-select>
            </ion-item>
            <ion-item>
              <ion-label>Station</ion-label>
              <ion-select interface="popover" placeholder="Select a station" (ionChange)="onStationChange($event)">
                <ion-select-option *ngFor="let station of stations" [value]="station.indicativo">{{ station.indicativo }} - {{ station.nombre }}</ion-select-option>
              </ion-select>
            </ion-item>
            <ion-item>
              <ion-label>Start Date</ion-label>
              <ion-datetime [(ngModel)]="startDate" displayFormat="D MMM, YY"></ion-datetime>
            </ion-item>
            <ion-item>
              <ion-label>End Date</ion-label>
              <ion-datetime [(ngModel)]="endDate" displayFormat="D MMM, YY"></ion-datetime>
            </ion-item>
            <ion-item lines="none">
              <ion-button size="small" (click)="getClimatologicalValues()">Search</ion-button>
            </ion-item>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>

  <ion-list *ngIf="climValues.length > 0">
    <ion-list-header>
      <ion-label>Climatological Values by day</ion-label>
    </ion-list-header>
    <ion-item *ngFor="let value of climValues" routerLink="/detail/{{ value.fecha }}">
      <ion-icon slot="start" name="calendar"></ion-icon>
      <ion-label class="ion-text-wrap">
        <ion-text color="primary">
          <h3>Date: {{ value.fecha }}</h3>
        </ion-text>
        <p>{{ value.indicativo }} - {{ value.nombre }}</p>
      </ion-label>
      <ion-icon slot="end" name="eye"></ion-icon>
    </ion-item>
  </ion-list>
</ion-content>

<ion-footer>
  <ion-toolbar color="primary">
      <ion-title>© {{ currentYear }} Adrián Brito Pacheco</ion-title>
  </ion-toolbar>
</ion-footer>
